*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

header {
  z-index: 300;
  width: 100%;
}

.navbar {
  margin: 5px;
  color: lightblue;
}

.navbar-brand {
  font-size: 15px;
}

.navbar-collapse {
  font-size: 15px;
}

.navbar-light .navbar-brand {
  color: black;
}

.nav-item {
  text-emphasis: uppercase;
  padding-left: 10px;
}


.navbar-light .navbar-nav .nav-item .nav-link:hover{
  background: white;
  color: black;
}

#profile {
  padding-top: 80px;
}

.photo{
  width: 150px;
  clip-path: circle();
}

.logo {
  width: 60px;
}

/*.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}*/

/*.navbar a:hover {
  color: #ffffff;
}*/

#capstone-link {
  text-decoration: none;
}


#projects {
  padding: 5px;
}

#profile {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: ligthblue;
}

.accounts li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  font-size: 60px;
}

.container {
  background: linear-gradient(-120deg, #B1D4E0, #2E8BC0, #145DA0,#0C2D48)
  }

/*#background {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: black
  background: linear-gradient(-45deg, ##B1D4E0, #2E8BC0, #0C2D48, #145DA0);
  background-size: 400% 400%;
  position: relative;
  padding: 1rem;
  font-size: 0.9rem;
}*/